.stepper {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 6%;
  height: 80%;
  list-style: none;
  box-sizing: border-box;
  //border: 1px solid red;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -1.7rem;
    width: 3.4rem;
    height: 3.4rem;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    //border: 1px solid red;
    box-sizing: border-box;

    &.active {
      //right: -1rem;
    }

    &:nth-child(1) {
      top: 0;
      right: 1rem;

      .active {
        //right: 2rem;
      }
    }
    &:nth-child(2) {
      top: 20%;
    }
    &:nth-child(3) {
      top: 40%;
    }
    &:nth-child(4) {
      top: 60%;
    }
    &:nth-child(5) {
      top: 80%;
    }
    &.active {
      .circle {
        .circleInner {
          background: $lightGreen;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
        }
      }
    }
    &.success {
      .circle {
        .circleInner {
          background: $lightGreen;
        }
      }
    }
    .circle {
      .circleInner {
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        background: $mediumGrey;
        border-radius: 50%;
        transition: all 0.3s ease;
      }
    }
  }

  li.slider {
    border: 1px solid $lightGreen;
    border-radius: 50%;
    padding: 0.4rem;
    position: absolute;
    transition: all 0.3s ease;

    &:before {
      content: "";
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background: $lightGreen;
    }

    &.step {
      right: -1.7rem;
      &-1 {
        top: 0;
        right: 1rem;
      }
      &-2 {
        top: 20%;
      }
      &-3 {
        top: 40%;
      }
      &-4 {
        top: 60%;
      }
      &-5 {
        top: 80%;
      }
    }
  }
}
